.main {
  display: grid;
  position: relative;
  aspect-ratio: 1 / 1.99;
  cursor: pointer;
  & > * {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}
.imageContainer {
}
.image {
  aspect-ratio: 1 / 1.6;
  object-fit: cover;
}
.discountBox {
  position: absolute;
  right: 0px;
  top: 50px;
  width: 80px;
  height: 45px;
  background: var(--secondary-color);
  color: var(--background-base-color);
  font-size: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0.7;
}
.title {
  font-size: 32px;
  font-weight: var(--font-light);
  line-height: 0.85;
  text-transform: uppercase;
}
.info {
  align-self: end;
}
.details {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.priceContainer {
  font-weight: var(--font-light);
}
.oldPrice {
  font-size: 19px;
  color: rgb(88, 88, 88);
  font-weight: 400;
  text-decoration: line-through;
}
.discount {
  font-size: 16px;
  color: var(--secondary-color);
}
.price {
  font-size: 22px;
}
.colorsAndSizesContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 8px;
}
.colors {
  list-style-type: none;
  display: flex;
  gap: 5px;
}
.color {
  width: 18px;
  height: 18px;
}
.sizes {
  font-size: 16px;
  display: flex;
  list-style-type: none;
  gap: 5px;
}
@media screen and (max-width: 1900px) {
  .discountBox {
    top: clamp(30px, 2.7vw, 50px);
    width: clamp(65px, 4.3vw, 80px);
    height: clamp(38px, 2.4vw, 45px);
    font-size: clamp(16px, 1vw, 19px);
  }
  .details {
    margin-top: clamp(8px, 0.5vw, 10px);
  }
  .title {
    font-size: clamp(28px, 1.7vw, 32px);
  }
  .oldPrice {
    font-size: clamp(17px, 1vw, 19px);
  }
  .discount {
    font-size: clamp(15px, 0.9vw, 16px);
  }
  .colorsAndSizesContainer {
    gap: clamp(7px, 0.4vw, 8px);
  }
  .color {
    width: clamp(16px, 1vw, 18px);
    height: clamp(16px, 1vw, 18px);
  }
  .sizes {
    font-size: clamp(15px, 0.9vw, 16px);
  }
}
@media screen and (max-width: 1800px) {
  .main {
    aspect-ratio: 1 / 2.04;
  }
}
@media screen and (max-width: 1550px) {
  .main {
    aspect-ratio: 1 / 2.12;
  }
}
@media screen and (max-width: 1390px) {
  .main {
    aspect-ratio: 1 / 2.05;
  }
}
@media screen and (max-width: 1250px) {
  .main {
    aspect-ratio: 1 / 2.08;
  }
}
@media screen and (max-width: 1190px) {
  .main {
    aspect-ratio: 1 / 2.03;
  }
  .discountBox {
    top: 40px;
    width: clamp(65px, 6.3vw, 75px);
    height: clamp(40px, 3.8vw, 45px);
    font-size: clamp(16px, 1.5vw, 17px);
  }
  .title {
    font-size: clamp(28px, 2.7vw, 31px);
  }
  .price {
    font-size: clamp(22px, 2.1vw, 24px);
  }
  .color {
    width: clamp(16px, 1.5vw, 17px);
    height: clamp(16px, 1.5vw, 17px);
  }
}
@media screen and (max-width: 1130px) {
  .main {
    aspect-ratio: 1 / 2.05;
  }
}
@media screen and (max-width: 1024px) {
  .main {
    aspect-ratio: 1 / 2;
  }
  .discountBox {
    top: 10%;
    width: clamp(72px, 8.8vw, 90px);
    height: clamp(42px, 4.9vw, 50px);
    font-size: clamp(17px, 1.9vw, 19px);
  }
  .title {
    font-size: clamp(29px, 3.5vw, 35px);
  }
  .oldPrice {
    font-size: clamp(18px, 1.9vw, 19px);
  }
  .discount {
    font-size: clamp(15px, 1.6vw, 16px);
  }
  .price {
    font-size: clamp(24px, 2.8vw, 28px);
  }
  .colorsAndSizesContainer {
    gap: 8px;
  }
  .color {
    width: clamp(17px, 1.8vw, 18px);
    height: clamp(17px, 1.8vw, 18px);
  }
  .sizes {
    font-size: clamp(15px, 1.6vw, 16px);
  }
}
@media screen and (max-width: 880px) {
  .main {
    aspect-ratio: 1 / 2.05;
  }
}
@media screen and (max-width: 770px) {
  .main {
    aspect-ratio: 1 / 2.1;
  }
}
@media screen and (max-width: 700px) {
  .main {
    aspect-ratio: 1 / 1.99;
  }
  .discountBox {
    width: clamp(72px, 12.9vw, 90px);
    height: clamp(42px, 7.1vw, 50px);
    font-size: clamp(17px, 2.7vw, 19px);
  }
  .title {
    font-size: clamp(29px, 4.9vw, 34px);
  }
  .oldPrice {
    font-size: clamp(18px, 2.7vw, 19px);
  }
  .discount {
    font-size: clamp(15px, 2.3vw, 16px);
  }
  .price {
    font-size: clamp(24px, 3.9vw, 27px);
  }
  .color {
    width: clamp(17px, 2.7vw, 19px);
    height: clamp(17px, 2.7vw, 19px);
  }
  .sizes {
    font-size: clamp(15px, 2.3vw, 16px);
  }
}
@media screen and (max-width: 600px) {
  .main {
    aspect-ratio: 1 / 2.02;
  }
}
@media screen and (max-width: 540px) {
  .main {
    aspect-ratio: 1 / 2.08;
  }
}
@media screen and (max-width: 470px) {
  .main {
    aspect-ratio: 1 / 1.31;
  }
  .image {
    aspect-ratio: 1 / 1;
  }
  .discountBox {
    width: clamp(75px, 23.4vw, 110px);
    height: clamp(45px, 12.8vw, 60px);
    font-size: clamp(18px, 4.3vw, 20px);
  }
  .title {
    font-size: clamp(30px, 8.1vw, 38px);
  }
  .oldPrice {
    font-size: clamp(18px, 4.2vw, 20px);
  }
  .discount {
    font-size: clamp(16px, 3.6vw, 17px);
  }
  .price {
    font-size: clamp(25px, 6.6vw, 31px);
  }
  .color {
    width: clamp(18px, 4.5vw, 21px);
    height: clamp(18px, 4.5vw, 21px);
  }
  .sizes {
    font-size: clamp(15px, 3.6vw, 17px);
  }
}
@media screen and (max-width: 400px) {
  .main {
    aspect-ratio: 1 / 1.31;
  }
}
@media screen and (max-width: 370px) {
  .main {
    aspect-ratio: 1 / 1.33;
  }
}
@media screen and (max-width: 340px) {
  .main {
    aspect-ratio: 1 / 1.37;
  }
}
