.main {
  display: grid;
  position: relative;
  aspect-ratio: 1 / 1.97;
  & > * {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}
.imageContainer {
}
.image {
  aspect-ratio: 1 / 1.6;
  object-fit: cover;
}
.discountBox {
  position: absolute;
  right: 0px;
  top: 50px;
  width: 80px;
  height: 45px;
  background: var(--secondary-color);
  color: var(--background-base-color);
  font-size: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0.7;
}
.title {
  font-size: 32px;
  font-weight: var(--font-light);
  line-height: 0.85;
  text-transform: uppercase;
}
.info {
  align-self: end;
}
.details {
  margin-top: 9px;
  display: flex;
  justify-content: space-between;
}
.priceContainer {
  font-weight: var(--font-light);
}
.oldPrice {
  font-size: 19px;
  color: rgb(88, 88, 88);
  font-weight: 400;
  text-decoration: line-through;
}
.discount {
  font-size: 16px;
  color: var(--secondary-color);
}
.price {
  font-size: 22px;
}
.colorsAndSizesContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
.colors {
  list-style-type: none;
  display: flex;
  gap: 5px;
}
.color {
  width: 18px;
  height: 18px;
}
.sizes {
  font-size: 16px;
  display: flex;
  list-style-type: none;
  gap: 5px;
}
@media screen and (max-width: 1800px) {
  .main {
    aspect-ratio: 1 / 2.04;
  }
}
@media screen and (max-width: 1607px) {
  .main {
    aspect-ratio: 1 / 2;
  }
}
