.main {
  display: grid;
  position: relative;
  aspect-ratio: 1 / 1.99;
  cursor: pointer;
  & > * {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}
.imageContainer {
}
.image {
  aspect-ratio: 1 / 1.6;
  object-fit: cover;
}
.discountBox {
  position: absolute;
  right: 0px;
  top: 50px;
  width: 80px;
  height: 45px;
  background: var(--secondary-color);
  color: var(--background-base-color);
  font-size: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0.7;
}
.title {
  font-size: 32px;
  font-weight: var(--font-light);
  line-height: 0.85;
  text-transform: uppercase;
}
.info {
  align-self: end;
}
.details {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.priceContainer {
  font-weight: var(--font-light);
}
.oldPrice {
  font-size: 19px;
  color: rgb(88, 88, 88);
  font-weight: 400;
  text-decoration: line-through;
}
.discount {
  font-size: 16px;
  color: var(--secondary-color);
}
.price {
  font-size: 22px;
}
.colorsAndSizesContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 8px;
}
.colors {
  list-style-type: none;
  display: flex;
  gap: 5px;
}
.color {
  width: 18px;
  height: 18px;
}
.sizes {
  font-size: 16px;
  display: flex;
  list-style-type: none;
  gap: 5px;
}
@media screen and (max-width: 1900px) {
  .discountBox {
    top: clamp(30px, 2.7vw, 50px);
    width: clamp(65px, 4.3vw, 80px);
    height: clamp(38px, 2.4vw, 45px);
    font-size: clamp(16px, 1vw, 19px);
  }
  .details {
    margin-top: clamp(8px, 0.5vw, 10px);
  }
  .title {
    font-size: clamp(28px, 1.7vw, 32px);
  }
  .oldPrice {
    font-size: clamp(17px, 1vw, 19px);
  }
  .discount {
    font-size: clamp(15px, 0.9vw, 16px);
  }
  .colorsAndSizesContainer {
    gap: clamp(7px, 0.4vw, 8px);
  }
  .color {
    width: clamp(16px, 1vw, 18px);
    height: clamp(16px, 1vw, 18px);
  }
  .sizes {
    font-size: clamp(15px, 0.9vw, 16px);
  }
}
@media screen and (max-width: 1800px) {
  .main {
    aspect-ratio: 1 / 2.04;
  }
}
@media screen and (max-width: 1550px) {
  .main {
    aspect-ratio: 1 / 2.12;
  }
}
