.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  gap: 200px;
}
.heading {
  display: flex;
  flex-direction: column;
  font-size: 225px;
  font-weight: var(--font-bold);
  color: var(--secondary-color);
  line-height: 0.7;
}
.headingAdmin {
  margin-top: 20px;
  font-size: 115px;
  color: var(--primary-color);
}
.loginContainer {
  display: flex;
  flex-direction: column;
  --input-padding: 10px;
  --input-width: 320px;
  --input-height: 50px;
}
.userIcon {
  color: var(--secondary-color);
  width: 140px;
  height: auto;
  margin-bottom: 40px;
}
.form {
  display: flex;
  flex-direction: column;
}
.label {
  display: flex;
  flex-direction: column;
  &:first-child {
    margin-bottom: 16px;
  }
}
.labelName {
  margin-bottom: 5px;
  font-size: 15px;
  color: var(--secondary-color);
  font-weight: var(--font-light);
}
.input {
  height: var(--input-height);
  background: var(--background-base-color);
  border: 1px solid var(--secondary-color);
  padding: 0px var(--input-padding);
  width: var(--input-width);
  outline: none;
  font-size: 14px;
  color: var(--primary-color);
}
.passwordInputWrapper {
  border: 1px solid var(--secondary-color);
  width: var(--input-width);
  position: relative;
  height: var(--input-height);
  .input {
    width: 100%;
    height: 100%;
    border: none;
  }
}
.eyeIcon {
  position: absolute;
  user-select: none;
  top: 50%;
  width: 19px;
  color: var(--secondary-color);
  transform: translateY(-50%);
  right: var(--input-padding);
}
.button {
  width: 120px;
  height: var(--input-height);
  background: var(--secondary-color);
  border: none;
  font-weight: 500;
  font-size: 14px;
  margin-top: 30px;
  cursor: pointer;
}
