@import "@styles/variables.scss";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  scrollbar-width: thin;
  scrollbar-color: $secondary-color $background-base-color;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: max(8px, 0.44vw);
    height: max(8px, 0.44vw);
  }
  &::-webkit-scrollbar-track {
    background: $background-base-color;
  }
  &::-webkit-scrollbar-thumb {
    background: $secondary-color;
  }
  &::-webkit-scrollbar-corner {
    display: none;
  }
}
body {
  background-color: $background-base-color;
  background-image: $background-pattern;
  background-size: $background-pattern-size;
  color: $primary-color;
  font-variant-numeric: lining-nums;
}
