* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary-color) var(--background-base-color);
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: max(8px, 0.44vw);
    height: max(8px, 0.44vw);
  }
  &::-webkit-scrollbar-track {
    background: var(--background-base-color);
  }
  &::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
  }
  &::-webkit-scrollbar-corner {
    display: none;
  }
}
body {
  background-color: var(--background-base-color);
  background-image: var(--background-pattern);
  background-size: var(--background-pattern-size);
  color: var(--primary-color);
  font-variant-numeric: lining-nums;
}
