@use "./mixins.scss" as mixins;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: inherit;
  font-variant-numeric: lining-nums;
}
html {
  overflow-x: hidden;
  @include mixins.scrollbar;
}
body {
  background-color: var(--background-base-color);
  background-image: var(--background-pattern);
  background-size: var(--background-pattern-size);
  color: var(--primary-color);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
