:root {
  --primary-color: white;
  --secondary-color: #ffd481;
  --secondary-color-dimmed: #4e422b;
  --background-base-color: #0e0e0e;
  --background-pattern: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='150' height='249' viewBox='0 0 150 249'%3E%3Cg fill='%23111111' fill-opacity='1'%3E%3Cpath d='M0 249V0h1v1.99L150 249h-1.12L1 4.22V249H0zM150 2h-.12l-1-2H150v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  --background-pattern-size: max(150px, 7.8vw);
  --padding-section: 45px;
  --margin-top-section-content: 150px;
  --font-bold: 750;
  --font-light: 300;
  --font-size-section-title: 250px;
  --font-size-section-subtitle: 155px;
  --line-height-section-title: 0.8;
}

@media screen and (max-width: 1900px) {
  :root {
    --font-size-section-title: clamp(180px, 13.2vw, 250px);
    --font-size-section-subtitle: clamp(110px, 8.2vw, 155px);
  }
}
@media screen and (max-width: 1750px) {
  :root {
    --padding-section: 40px;
  }
}
@media screen and (max-width: 1350px) {
  :root {
    --font-size-section-title: clamp(170px, 14.9vw, 200px);
    --font-size-section-subtitle: clamp(110px, 9.7vw, 130px);
    --margin-top-section-content: clamp(100px, 0vw, 150px);
  }
}
@media screen and (max-width: 1024px) {
  :root {
    --font-size-section-title: clamp(90px, 19.2vw, 195px);
    --font-size-section-subtitle: clamp(69px, 12.8vw, 125px);
    --margin-top-section-content: clamp(75px, 11.7vw, 120px);
  }
}
@media screen and (max-width: 850px) {
  :root {
    --padding-section: 30px;
  }
}
@media screen and (max-width: 600px) {
  :root {
    --padding-section: 25px;
  }
}
@media screen and (max-width: 400px) {
  :root {
    --background-pattern-size: 125px;
    --font-size-section-title: clamp(70px, 22.5vw, 90px);
    --font-size-section-subtitle: clamp(60px, 17.3vw, 69px);
    --margin-top-section-content: clamp(60px, 18.5vw, 75px);
  }
}
