.main {
  display: flex;
  position: relative;
}
.content {
  padding: var(--padding-section);
}
.year {
  position: absolute;
  right: 0px;
  top: 0px;
  transform: translateY(-40%);
  font-size: 270px;
  font-weight: var(--font-light);
  color: var(--secondary-color-dimmed);
}
