.main {
  padding: var(--padding-section);
}
.header {
  position: relative;
  z-index: 2;
  pointer-events: none;
}
.title {
  font-size: var(--font-size-section-title);
  line-height: var(--line-height-section-title);
  margin-left: -10px;
  width: 1150px;
  overflow: hidden;
  word-break: break-all;
}
.subtitle {
  position: absolute;
  bottom: 0px;
  z-index: -1;
  font-size: var(--font-size-section-subtitle);
  color: var(--secondary-color-dimmed);
  transform: translateY(50%);
}
.collections {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
  margin-top: -250px;
}
.collection {
  position: relative;
  cursor: pointer;
  color: var(--primary-color);
}
.collectionWinter {
  color: var(--background-base-color);
  .collectionTitle {
    text-shadow: 0px 0px 20px rgba(white, 0.15);
  }
  .collectionArrowIcon {
    filter: drop-shadow(0px 0px 20px rgba(white, 0.15));
  }
}
.collectionImage {
  width: 590px;
  height: 850px;
  object-fit: cover;
}
.collectionHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 30px;
  position: absolute;
  right: 35px;
  bottom: 35px;
}
.collectionArrowIcon {
  width: 100px;
  height: 79px;
  filter: drop-shadow(0px 0px 20px rgba(black, 0.15));
}
.collectionTitle {
  line-height: 0.7;
  font-size: 105px;
  text-shadow: 0px 0px 20px rgba(black, 0.15);
}
@media screen and (max-width: 1900px) {
  .title {
    margin-left: min(-3px, -0.4vw);
    width: clamp(820px, 60.5vw, 1150px);
  }
  .subtitle {
    margin-left: 1px;
  }
  .collections {
    gap: clamp(20px, 2vw, 40px);
    margin-top: min(-180px, -13.5vw);
  }
  .collectionImage {
    width: clamp(445px, 31.1vw, 590px);
    height: clamp(670px, 44.8vw, 850px);
  }
  .collectionHeader {
    gap: clamp(20px, 1.6vw, 30px);
    right: clamp(30px, 2vw, 35px);
    bottom: clamp(30px, 2vw, 35px);
  }
  .collectionArrowIcon {
    width: clamp(80px, 5.3vw, 100px);
    height: clamp(63px, 4.2vw, 79px);
  }
  .collectionTitle {
    font-size: clamp(78px, 5.6vw, 105px);
  }
}
@media screen and (max-width: 1350px) {
  .title {
    width: clamp(780px, 69vw, 930px);
  }
  .collections {
    gap: clamp(15px, 1.9vw, 25px);
    margin-top: min(-175px, -15vw);
  }
  .collectionImage {
    width: clamp(378px, 31.2vw, 420px);
    height: clamp(630px, 50.5vw, 680px);
  }
  .collectionHeader {
    right: clamp(26px, 2.1vw, 28px);
    bottom: clamp(26px, 2.1vw, 28px);
  }
  .collectionArrowIcon {
    width: clamp(73px, 5.9vw, 80px);
    height: clamp(60px, 4.8vw, 64px);
  }
  .collectionTitle {
    font-size: clamp(73px, 6vw, 80px);
  }
  .collectionHeader {
    gap: 25px;
    flex-direction: row;
  }
  .collectionTitle {
    writing-mode: vertical-lr;
  }
}
@media screen and (max-width: 1210px) {
  .collectionImage {
    width: clamp(280px, 29.5vw, 360px);
  }
}
@media screen and (max-width: 1024px) {
  .title {
    width: clamp(395px, 88vw, 900px);
  }
  .collections {
    margin-top: clamp(85px, 11.7vw, 120px);
  }
  .collectionImage {
    width: 100%;
    height: clamp(580px, 66.5vw, 680px);
  }
  .collectionHeader {
    gap: clamp(18px, 2.5vw, 25px);
    right: clamp(20px, 2.9vw, 30px);
    bottom: clamp(20px, 2.9vw, 30px);
  }
  .collectionArrowIcon {
    width: clamp(64px, 8.1vw, 83px);
    height: clamp(50px, 6.4vw, 65px);
    margin-bottom: 1px;
  }
  .collectionTitle {
    font-size: clamp(72px, 8.7vw, 88px);
  }
}
