.main {
  width: 100%;
  padding-top: var(--padding-section);
  overflow-x: hidden;
  --gap: 30px;
}
.marquee {
  display: flex;
  gap: var(--gap);
}
.list {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  min-width: 100%;
  gap: var(--gap);
  animation: slide 16s linear infinite;
}
.item {
  display: flex;
  align-items: center;
  gap: var(--gap);
}
.title {
  font-size: 18px;
}
.icon {
  width: 72px;
  height: auto;
  color: var(--secondary-color);
}
@keyframes slide {
  from {
    transform: translateX(calc(-100% - 30px));
  }
  to {
    transform: translateX(0%);
  }
}
@media screen and (max-width: 1900px) {
  .main {
    --gap: clamp(28px, 1.6vw, 30px);
  }
  .title {
    font-size: clamp(16px, 1vw, 18px);
  }
  .icon {
    width: clamp(59px, 3.8vw, 72px);
  }
}
@media screen and (max-width: 1350px) {
  .icon {
    width: clamp(57px, 4.6vw, 62px);
  }
}
@media screen and (max-width: 1024px) {
  .title {
    font-size: clamp(15px, 1.7vw, 17px);
  }
  .icon {
    width: clamp(54px, 6.8vw, 64px);
  }
}
@media screen and (max-width: 400px) {
  .main {
    --gap: 25px;
  }
  .icon {
    width: clamp(51px, 13.4vw, 54px);
  }
}
