.main {
  display: flex;
  justify-content: flex-end;
  height: 100vh;
  position: relative;
}
.textContainer {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--padding-section);
  position: absolute;
  left: 0px;
  height: 100%;
}
.title {
  font-size: 289px;
  font-weight: var(--font-bold);
  line-height: 0.73;
  margin-left: -20px;
  color: var(--secondary-color);
}
.subtitle {
  font-size: 42px;
  font-weight: var(--font-light);
  line-height: 100%;
  margin-top: 25px;
  width: 80%;
  text-transform: uppercase;
}
.description {
  line-height: 140%;
  margin-top: 50px;
  width: 480px;
  font-size: 17px;
  font-weight: var(--font-light);
}
.navContainer {
  display: flex;
  position: relative;
  line-height: 0.72;
  margin-top: 100px;
}
.navTitle {
  color: var(--secondary-color-dimmed);
  text-transform: uppercase;
  font-size: 115px;
  font-weight: 500;
  position: absolute;
  z-index: -1;
  transform: translateY(-55%);
  margin-left: -4px;
}
.navLinkBig {
  font-size: 360px;
  font-weight: 250;
  margin-left: -13px;
  pointer-events: none;
  transition: color 0.2s;
  overflow: hidden;
  line-height: 0.74;
}
.nav {
  display: flex;
  position: relative;
  cursor: pointer;
  &:hover {
    .navLinkBig {
      color: var(--secondary-color);
    }
  }
}
.navMobile {
  display: none;
}
.navList {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
.navLink {
  pointer-events: auto;
  text-transform: uppercase;
  font-size: 80px;
  font-weight: var(--font-light);
  cursor: pointer;
  display: flex;
  align-items: center;
  z-index: 2;
  position: absolute;
  width: auto;
  left: 0px;
  padding-left: 100%;
  height: 34%;
  white-space: nowrap;
  transition: color 0.2s;
  &:hover {
    color: var(--secondary-color);
  }
  &:first-child {
    align-items: flex-start;
  }
  &:nth-child(2) {
    top: 33%;
  }
  &:last-child {
    top: 66%;
    align-items: flex-end;
  }
}
.image {
  height: 100%;
  width: 640px;
  object-fit: cover;
}
.cartSocialsContainer {
  width: 190px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-section);
}
.cartSocialsContainerMobile {
  display: none;
}
.socials {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: -10px;
}
.socialIcon {
  width: 39px;
  height: auto;
  cursor: pointer;
  &:hover {
    color: var(--secondary-color);
  }
}

@media screen and (max-width: 1900px) {
  .title {
    margin-top: -1px;
    margin-left: min(-15px, -1vw);
    font-size: clamp(215px, 15vw, 284px);
  }
  .subtitle {
    font-size: clamp(35px, 2.25vw, 42px);
    margin-top: clamp(18px, 1.3vw, 25px);
  }
  .description {
    font-size: clamp(16px, 1vw, 17px);
    margin-top: clamp(40px, 2.7vw, 50px);
  }
  .navContainer {
    margin-top: clamp(78px, 5.4vw, 103px);
  }
  .navTitle {
    font-size: clamp(85px, 6.1vw, 115px);
  }
  .navLinkBig {
    font-size: clamp(275px, 18.6vw, 360px);
  }
  .navLink {
    font-size: clamp(62px, 4.1vw, 80px);
  }
  .image {
    width: clamp(410px, 30vw, 640px);
  }
  .cartSocialsContainer {
    width: clamp(145px, 10vw, 189px);
  }
  .socials {
    gap: clamp(15px, 1.2vw, 18px);
  }
  .socialIcon {
    width: clamp(31px, 2.1vw, 39px);
  }
}
@media screen and (max-width: 1350px) {
  .title {
    font-size: clamp(205px, 17.9vw, 240px);
  }
  .subtitle {
    font-size: clamp(33px, 2.6vw, 34px);
    margin-top: clamp(12px, 1.1vw, 15px);
  }
  .navContainer {
    margin-top: clamp(77px, 6.2vw, 80px);
  }
  .navTitle {
    font-size: clamp(80px, 6.5vw, 87px);
  }
  .navLinkBig {
    margin-left: -12px;
    font-size: clamp(260px, 21.2vw, 285px);
  }
  .navLink {
    font-size: clamp(58px, 5.2vw, 69px);
  }
  .image {
    width: clamp(182px, 16.5vw, 292px);
    filter: brightness(0.4);
  }
  .cartSocialsContainer {
    height: 100%;
    width: clamp(145px, 11.5vw, 155px);
  }
  .socialIcon {
    width: clamp(31px, 2.5vw, 33px);
  }
}
@media screen and (max-width: 1100px) {
  .image {
    width: clamp(110px, 11vw, 220px);
  }
}
@media screen and (max-width: 1024px) {
  .title {
    font-size: clamp(101px, 22.6vw, 230px);
    margin-left: min(-4px, -1.5vw);
  }
  .subtitle {
    font-size: clamp(36px, 4vw, 40px);
    width: 90%;
    margin-top: 12px;
    text-transform: none;
    word-break: break-all;
  }
  .description {
    width: clamp(400px, 49.1vw, 500px);
  }
  .nav {
    display: none;
  }
  .navMobile {
    margin-bottom: 3px;
    display: flex;
  }
  .navList {
    gap: clamp(20px, 3vw, 25px);
  }
  .navTitle {
    margin-left: -5px;
    font-size: clamp(78px, 10.3vw, 105px);
    transform: translateY(-85%);
  }
  .navLink {
    all: unset;
    text-transform: uppercase;
    font-size: clamp(55px, 7.3vw, 74px);
    font-weight: var(--font-light);
    cursor: pointer;
    transition: color 0.2s;
    &:hover {
      color: var(--secondary-color);
    }
  }
  .navContainer {
    margin-top: 0px;
  }
  .cartSocialsContainer {
    display: none;
  }
  .cartSocialsContainerMobile {
    display: flex;
    margin: 43px 0px clamp(130px, 14.3vw, 145px) 2px;
  }
  .socials {
    flex-direction: row;
    margin-left: clamp(40px, 4.9vw, 50px);
  }
  .socialIcon {
    width: 36px;
  }
  .image {
    position: absolute;
    right: 0px;
    width: clamp(120px, 16.3vw, 162px);
  }
}
@media screen and (max-width: 450px) {
  .title {
    font-size: clamp(65px, 22vw, 100px);
    margin-left: -3px;
    line-height: 0.75;
  }
  .subtitle {
    font-size: clamp(34px, 8.1vw, 36px);
    width: 100%;
  }
  .description {
    width: 100%;
  }
  .navList {
    gap: clamp(15px, 4.4vw, 20px);
  }
  .navTitle {
    margin-left: -5px;
    font-size: clamp(59px, 17.4vw, 78px);
  }
  .navLink {
    font-size: clamp(39px, 12.3vw, 55px);
    margin-left: -2px;
  }
  .cartSocialsContainerMobile {
    flex-direction: column;
    gap: 25px;
    margin-bottom: clamp(115px, 30.2vw, 135px);
  }
  .socials {
    margin-left: 0px;
  }
  .socialIcon {
    width: clamp(33px, 8.1vw, 36px);
  }
  .image {
    width: clamp(75px, 27vw, 120px);
  }
}
@media screen and (max-width: 370px) {
  .title {
    font-size: clamp(65px, 21.5vw, 82px);
  }
}
