.main {
  position: relative;
  width: 74px;
  height: 66px;
  cursor: pointer;
}
.icon {
  color: var(--secondary-color);
  width: 100%;
  height: 100%;
}
.amount {
  position: absolute;
  background: var(--background-base-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-variant-numeric: lining-nums;
  font-size: 33px;
  line-height: 0.72;
  right: -7px;
  bottom: -7px;
  padding: 8px;
  border-radius: 15px;
}
@media screen and (max-width: 1900px) {
  .main {
    width: clamp(66px, 4.1vw, 76px);
    height: clamp(58px, 3.6vw, 68px);
  }
  .amount {
    font-size: clamp(28.5px, 1.7vw, 33px);
    padding: clamp(7px, 0.5vw, 9px);
    right: min(-7px, -0.42vw);
    bottom: min(-7px, -0.42vw);
  }
}
@media screen and (max-width: 1600px) {
  .main {
    width: clamp(60px, 4.2vw, 66px);
    height: clamp(52px, 3.7vw, 58px);
  }
  .amount {
    font-size: clamp(24px, 1.8vw, 28.5px);
    right: min(-5px, -0.34vw);
    bottom: min(-6px, -0.43vw);
  }
}
@media screen and (max-width: 1350px) {
  .main {
    width: clamp(54px, 4.6vw, 62px);
    height: clamp(46px, 4vw, 54px);
  }
  .amount {
    font-size: clamp(25px, 2.2vw, 28.5px);
    padding: 7px;
    right: -7px;
    bottom: -7px;
  }
}
// @media screen and (max-width: 1300px) {
//   .main {
//     width: clamp(52px, 4.5vw, 58px);
//     height: clamp(44px, 3.9vw, 50px);
//   }
//   .amount {
//     font-size: clamp(22px, 1.9vw, 24px);
//     right: min(-6px, -0.45vw);
//     bottom: min(-7px, -0.52vw);
//   }
// }
// @media screen and (max-width: 1200px) {
//   .amount {
//     padding: 6px;
//     line-height: 0.8;
//     border-radius: 8px;
//     font-size: 18px;
//     right: 0px;
//     bottom: -2px;
//   }
// }
