.iconContainer {
  cursor: pointer;
  width: max(88px, 4.57vw);
  height: max(79px, 4.1vw);
  position: relative;
  user-select: none;
  z-index: 2;
}
.icon {
  color: var(--secondary-color);
  width: 100%;
  height: 100%;
}
.iconAmount {
  position: absolute;
  background: var(--background-base-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-variant-numeric: lining-nums;
  font-size: max(37px, 1.92vw);
  line-height: 0.72;
  right: min(-12px, -0.624vw);
  bottom: min(-10px, -0.52vw);
  padding: max(12px, 0.624vw);
  border-radius: max(20px, 1.04vw);
}
.overlay {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: rgba(black, 0.7);
  z-index: 3;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s;
}
.overlayActive {
  opacity: 1;
  pointer-events: all;
}
@media screen and (max-width: 1900px) {
  .iconContainer {
    width: clamp(69px, 4.7vw, 88px);
    height: clamp(61px, 4.2vw, 79px);
  }
  .iconAmount {
    font-size: clamp(29px, 2vw, 38px);
    padding: clamp(8px, 0.7vw, 12px);
    right: min(-6px, -0.6vw);
    bottom: min(-9px, -0.55vw);
  }
}
@media screen and (max-width: 1350px) {
  .iconContainer {
    width: clamp(67px, 5.1vw, 69px);
    height: clamp(59px, 4.6vw, 61px);
  }
  .iconAmount {
    font-size: 29px;
    bottom: min(-8px, -0.7vw);
  }
}
@media screen and (max-width: 1024px) {
  .iconContainer {
    width: clamp(76px, 8.4vw, 85px);
    height: clamp(68px, 7.5vw, 76px);
  }
  .iconAmount {
    font-size: clamp(33px, 3.5vw, 35px);
    padding: 10px;
    right: -8px;
    bottom: min(-9px, -0.9vw);
  }
}
@media screen and (max-width: 400px) {
  .iconContainer {
    width: clamp(73px, 19vw, 76px);
    height: clamp(61px, 17vw, 68px);
  }
  .iconAmount {
    font-size: clamp(30px, 8.2vw, 33px);
  }
}
