@use "../../styles/mixins.scss" as mixins;

.cartContainer {
  position: fixed;
  height: 100vh;
  top: 0px;
  background: var(--background-base-color);
  width: 750px;
  z-index: 4;
  right: 0px;
  transform: translateX(100%);
  transition: transform 0.3s;
  padding: var(--padding-section);
  display: flex;
  flex-direction: column;
}
.cartContainerActive {
  transform: translateX(0%);
}
.cartTitle {
  font-size: 215px;
  font-weight: var(--font-bold);
  line-height: 0.72;
  color: var(--secondary-color);
  margin-left: -5px;
}
.cartDescription {
  font-size: 38px;
  margin-top: 10px;
  font-weight: var(--font-light);
  text-transform: uppercase;
}
.productsContainer {
  flex: 1 1;
  list-style-type: none;
  margin: 40px 0px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  overflow-y: auto;
  @include mixins.scrollbar;
  &::-webkit-scrollbar {
    width: 26px;
  }

  &::-webkit-scrollbar-thumb {
    border-left: 18px solid var(--background-base-color);
  }
}
.productsContainerEmpty {
  flex: 1 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.productsContainerEmptyText {
  font-size: 15px;
  color: var(--primary-color);
}
.checkout {
  border-top: 1px solid rgb(48, 48, 48);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.checkoutInfoContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 25px 0px 40px 0px;
}
.checkoutQuantity {
  font-size: 16px;
}
.checkoutTotal {
  font-size: 24px;
}
.checkoutTotalHighlight {
  font-weight: var(--font-bold);
  color: var(--secondary-color);
}
.checkoutButton {
  border: none;
  background: none;
  color: var(--primary-color);
  font-size: 63px;
  height: 50px;
  font-weight: var(--font-bold);
  cursor: pointer;
  display: flex;
  align-items: center;
}
.checkoutArrow {
  height: 62px;
  width: auto;
  margin-left: 25px;
}
.close {
  position: absolute;
  right: var(--padding-section);
  top: var(--padding-section);
  width: 26px;
  height: auto;
  cursor: pointer;
}
