.main {
  position: relative;
  user-select: none;
  display: flex;
}
.selected {
  cursor: pointer;
  display: flex;
}
.arrowIcon {
  width: 11px;
  margin-left: 5px;
  height: auto;
}
.list {
  position: absolute;
  right: 0px;
  top: 22px;
  background: var(--background-base-color);
  width: auto;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(32, 32, 32);
  list-style-type: none;
  z-index: 2;
}
.item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  padding: 8px;
  &:hover {
    background: rgb(32, 32, 32);
  }
}
.itemSelected {
  background: rgb(32, 32, 32);
}
// color box for displaying color of item if present
.colorBox {
  width: 6px;
  height: 18px;
  margin-right: 2px;
}
@media screen and (max-width: 1900px) {
  .list {
    top: clamp(20px, 1.2vw, 22px);
  }
  .item {
    padding: clamp(6px, 0.5vw, 8px);
  }
  .arrowIcon {
    width: clamp(10px, 0.6vw, 11px);
    margin-left: clamp(3px, 0.3vw, 5px);
  }
}
@media screen and (max-width: 1024px) {
  .list {
    top: clamp(19px, 2vw, 20px);
  }
  .colorBox {
    height: clamp(17px, 1.8vw, 18px);
  }
}
