.main {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transform: translateX(-100%);
  transition: transform 0.3s;
}
.active {
  transform: translateX(0%);
}
.mainContent {
  display: flex;
  align-items: flex-end;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.imageOverlay {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.52) 43.96%, rgba(0, 0, 0, 0) 76.82%);
  width: 100%;
  height: 100%;
  position: absolute;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}
.mainContainer {
  width: 100%;
  z-index: 1;
  padding: var(--padding-section);
}
.close {
  width: max(40px, 2.08vw);
  top: var(--padding-section);
  left: var(--padding-section);
  position: absolute;
  filter: drop-shadow(0px 0px max(20px, 1.04vw) rgba(black, 0.5));
  height: auto;
  cursor: pointer;
}
.discountBox {
  position: absolute;
  top: 15%;
  left: 0px;
  width: max(130px, 6.76vw);
  height: max(70px, 3.64vw);
  color: var(--background-base-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: max(28px, 1.456vw);
  background: var(--secondary-color);
}
.name {
  text-transform: uppercase;
  font-size: max(78px, 4.056vw);
  line-height: 0.7;
  margin-left: min(-3px, -0.156vw);
  font-weight: var(--font-bold);
}
.subtitle {
  font-size: max(25px, 1.3vw);
  margin-top: max(5px, 0.26vw);
  text-transform: uppercase;
  color: var(--secondary-color);
  font-weight: var(--font-bold);
}
.tags {
  display: flex;
  list-style-type: none;
  gap: max(10px, 0.52vw);
  margin: max(10px, 0.52vw) 0px max(30px, 1.56vw) 0px;
}
.tag {
  background: var(--secondary-color);
  color: var(--background-base-color);
  padding: max(9px, 0.468vw);
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: max(6px, 0.312vw);
}
.tagIcon {
  width: max(20px, 1.04vw);
  height: auto;
}
.tagTitle {
  text-transform: uppercase;
  font-size: max(15px, 0.78vw);
}
.customizableInfoContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.customizableInfo {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: max(25px, 1.3vw);
}
.selectContainer {
  display: flex;
  flex-direction: column;
  gap: max(15px, 0.78vw);
}
.selectHeader {
  display: flex;
  flex-direction: column;
  gap: max(4px, 0.208vw);
}
.selectTitle {
  font-size: max(26px, 1.352vw);
  line-height: 0.85;
  font-weight: var(--font-bold);
}
.selectDescription {
  font-weight: 500;
  color: var(--secondary-color);
  font-size: max(16px, 0.832vw);
  line-height: 0.8;
}
.colors {
  list-style-type: none;
  display: flex;
  gap: max(14px, 0.728vw);
}
.color {
  display: flex;
  gap: max(4px, 0.208vw);
  font-size: max(16px, 0.832vw);
  position: relative;
  cursor: pointer;
  &::before {
    position: absolute;
    content: "";
    bottom: min(-5px, -0.26vw);
    width: 100%;
    height: max(1px, 0.052vw);
    background: var(--secondary-color);
    opacity: 0;
  }
  &:hover {
    &::before {
      opacity: 1;
    }
  }
}
.colorActive {
  &::before {
    opacity: 1;
  }
}

.colorBox {
  width: max(6px, 0.312vw);
  height: max(20px, 1.04vw);
}
.boxList {
  list-style-type: none;
  display: flex;
  gap: max(5px, 0.26vw);
}
.boxListItem {
  width: max(45px, 2.34vw);
  height: max(45px, 2.34vw);
  font-size: max(16px, 0.832vw);
  border: max(1px, 0.052vw) solid var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
  &:hover {
    border-color: var(--secondary-color);
    color: var(--secondary-color);
  }
}
.boxListItemActive {
  border-color: var(--secondary-color);
  color: var(--secondary-color);
}
.boxListItemDisabled {
  // temp
  background: red;
}
.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: end;
}
.oldPrice {
  text-decoration: line-through;
  color: grey;
  font-size: max(22px, 1.14vw);
  line-height: 0.8;
}
.discount {
  font-size: max(19px, 0.988vw);
  margin-left: max(5px, 0.26vw);
  color: var(--secondary-color);
}
.price {
  line-height: 0.8;
  font-size: max(50px, 2.6vw);
  margin: max(6px, 0.312vw) 0px max(15px, 0.78vw) 0px;
}
.button {
  cursor: pointer;
  width: max(170px, 8.84vw);
  height: max(55px, 2.86vw);
  border: max(1px, 0.052vw) solid var(--primary-color);
  color: var(--primary-color);
  text-transform: uppercase;
  font-size: max(15px, 0.78vw);
  background: transparent;
  &:hover {
    border-color: var(--secondary-color);
    color: var(--secondary-color);
  }
}
.buttonDisabled {
  cursor: not-allowed;
  border-color: rgb(156, 156, 156);
  color: rgb(156, 156, 156);
  &:hover {
    border-color: rgb(156, 156, 156);
    color: rgb(156, 156, 156);
  }
}

@media screen and (max-width: 1900px) {
  .close {
    width: clamp(25px, 2.1vw, 40px);
  }
  .discountBox {
    width: clamp(95px, 6.9vw, 130px);
    height: clamp(55px, 3.7vw, 70px);
    font-size: clamp(20px, 1.5vw, 28px);
  }
  .name {
    font-size: clamp(58px, 4.1vw, 78px);
  }
  .subtitle {
    font-size: clamp(21.5px, 1.4vw, 25px);
  }
  .tags {
    gap: clamp(6px, 0.5vw, 10px);
    margin: clamp(6px, 0.5vw, 10px) 0px clamp(10px, 1.6vw, 30px) 0px;
  }
  .tagIcon {
    width: clamp(14px, 1.1vw, 20px);
  }
  .tagTitle {
    font-size: clamp(13px, 0.8vw, 15px);
  }
  .customizableInfo {
    gap: clamp(12px, 1.2vw, 25px);
  }
  .selectContainer {
    gap: clamp(10px, 0.8vw, 15px);
  }
  .selectTitle {
    font-size: clamp(23px, 1.4vw, 26px);
  }
  .selectDescription {
    font-size: clamp(14px, 0.9vw, 16px);
    line-height: 0.8;
  }
  .colors {
    margin-bottom: 5px;
    gap: clamp(12px, 0.8vw, 14px);
    font-size: clamp(15px, 0.9vw, 16px);
  }
  .boxListItem {
    font-size: clamp(15px, 0.9vw, 16px);
    width: clamp(38px, 2.4vw, 45px);
    height: clamp(38px, 2.4vw, 45px);
  }
  .oldPrice {
    font-size: clamp(20px, 1.2vw, 22px);
  }
  .discount {
    font-size: clamp(17px, 1vw, 19px);
  }
  .price {
    font-size: clamp(39px, 2.7vw, 50px);
    margin: 6px 0px clamp(12px, 0.8vw, 15px) 0px;
  }
  .button {
    width: clamp(140px, 9vw, 170px);
    height: clamp(48px, 2.9vw, 55px);
    font-size: clamp(14px, 0.8vw, 15px);
  }
}
@media screen and (max-width: 1024px) {
  .main {
    transform: unset;
    width: 100%;
    height: 100%;
    z-index: 3;
    display: none;
    position: fixed;
  }
  .mainOverlay {
    width: 100%;
    height: 100%;
    background: rgba(black, 0.7);
  }
  .mainContent {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
    max-height: 750px;
    min-height: 630px;
    display: flex;
    width: clamp(450px, 49.2vw, 500px);
    align-items: flex-end;
  }
  .imageOverlay {
    background: linear-gradient(213.38deg, rgba(0, 0, 0, 0.25) 14.72%, rgba(0, 0, 0, 0) 23.97%),
      linear-gradient(0deg, rgba(0, 0, 0, 0.52) 43.96%, rgba(0, 0, 0, 0) 76.82%);
  }
  .mainContainer {
    width: 100%;
  }
  .close {
    right: var(--padding-section);
    left: unset;
    width: clamp(22px, 2.5vw, 25px);
  }
  .active {
    display: flex;
  }
  .discountBox {
    width: clamp(80px, 10.4vw, 105px);
    height: clamp(50px, 5.8vw, 58px);
    font-size: clamp(18px, 2.1vw, 21px);
  }
  .name {
    font-size: clamp(49px, 6.4vw, 64px);
  }
  .subtitle {
    font-size: clamp(21px, 2.6vw, 26px);
  }
  .tags {
    margin: 6px 0px clamp(20px, 2.5vw, 25px) 0px;
  }
  .tagIcon {
    width: clamp(14px, 1.7vw, 17px);
  }
  .tagTitle {
    font-size: clamp(12px, 1.3vw, 13px);
  }
  .selectTitle {
    font-size: clamp(19px, 2.3vw, 23px);
  }
  .selectDescription {
    font-size: clamp(13px, 1.4vw, 14px);
  }
  .colorBox {
    width: clamp(5px, 0.6vw, 6px);
    height: clamp(17px, 2vw, 20px);
  }
  .boxListItem {
    font-size: 15px;
    width: clamp(37px, 4vw, 40px);
    height: clamp(37px, 4vw, 40px);
  }
  .oldPrice {
    font-size: clamp(16px, 2vw, 20px);
  }
  .discount {
    font-size: clamp(14px, 1.7vw, 17px);
  }
  .customizableInfo {
    gap: clamp(12px, 1.3vw, 13px);
  }
  .price {
    font-size: clamp(39px, 4vw, 40px);
  }
  .button {
    height: clamp(48px, 4.9vw, 50px);
  }
}
@media screen and (max-width: 600px) {
  .mainContent {
    width: 400px;
  }
  .customizableInfoContainer {
    flex-direction: column;
    align-items: flex-start;
  }
  .buttonContainer {
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-between;
    margin-top: 5px;
  }
  .priceContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .price {
    line-height: 1;
    margin: 0px;
    margin-top: 2px;
  }
  .oldPrice {
    color: rgb(175, 175, 175);
  }
}
@media screen and (max-width: 450px) {
  .mainContent {
    transform: translate(0%, -50%);
    left: var(--padding-section);
    width: auto;
    right: var(--padding-section);
  }
}
@media screen and (max-width: 400px) {
  .name {
    font-size: clamp(44px, 12.2vw, 49px);
  }
  .subtitle {
    font-size: clamp(20px, 5.3vw, 21px);
  }
}
@media screen and (max-width: 370px) {
  .mainContent {
    min-width: 320px;
    transform: translate(-50%, -50%);
    left: 50%;
    right: unset;
  }
}
