@use "../../../styles/mixins.scss" as mixins;

.main {
  --sidepanel-width: 495px;
}
.title {
  font-size: 95px;
  letter-spacing: -3px;
  line-height: 0.73;
  font-weight: var(--font-bold);
}
.filters {
  display: flex;
  align-items: center;
  margin: var(--padding-section) 0px 30px 0px;
  gap: 30px;
}
.searchbar {
  --search-icon-width: 20px;
  --search-icon-margin-right: 15px;
  position: relative;
  border: 1px solid var(--primary-color);
  width: 320px;
  height: 48px;
}
.searchbarInput {
  color: var(--primary-color);
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  padding-left: var(--search-icon-margin-right);
  padding-right: calc(var(--search-icon-width) + 2 * var(--search-icon-margin-right));
  outline: none;
  font-size: 15px;
}
.searchbarIcon {
  position: absolute;
  width: var(--search-icon-width);
  height: auto;
  right: var(--search-icon-margin-right);
  top: 50%;
  transform: translateY(-50%);
}
.dropdown {
  display: flex;
  font-weight: var(--font-light);
}
.tableWrapper {
  @include mixins.scrollbar;
  max-width: calc(100vw - var(--sidepanel-width) - (2 * var(--padding-section)));
  &::-webkit-scrollbar {
    width: 20px;
  }
  &::-webkit-scrollbar-thumb {
    border-left: 12px solid var(--background-base-color);
  }
  &::-webkit-scrollbar:horizontal {
    width: unset;
    height: 20px;
  }
  &::-webkit-scrollbar-thumb:horizontal {
    border: 0px;
    border-top: 12px solid var(--background-base-color);
  }
  overflow-y: auto;
}
.tableWrapperActive {
  max-width: 100%;
}
.table {
  width: 100%;
  background: var(--background-base-color);
}
.table,
.tableHeader,
.tableData {
  border: 1px solid white;
  font-size: 16px;
  border-collapse: collapse;
  text-align: start;
  vertical-align: top;
}
.tableHeader,
.tableData {
  padding: 12px;
}
.tableData {
  font-weight: var(--font-light);
}
.tableDataIconsWrapper {
  display: flex;
  user-select: none;
  justify-content: center;
  gap: 5px;
  align-items: flex-start;
}
.tableDataIcon {
  cursor: pointer;
  width: 18px;
  height: auto;
  &:hover {
    color: var(--secondary-color);
  }
}
.colorList {
  display: flex;
  list-style-type: none;
  gap: 8px;
}
.colorItem {
  display: flex;
  gap: 3px;
}
.colorBox {
  width: 6px;
  height: 95%;
}
.button {
  margin-top: 30px;
  height: 48px;
  padding: 0px 22px;
  cursor: pointer;
  border: none;
  background: var(--secondary-color);
  font-weight: 500;
  font-size: 15px;
}
@media screen and (max-width: 1900px) {
  .main {
    --sidepanel-width: clamp(395px, 26.1vw, 495px);
  }
  .title {
    font-size: clamp(75px, 5vw, 95px);
  }
  .filters {
    margin: var(--padding-section) 0px clamp(25px, 1.6vw, 30px) 0px;
    gap: clamp(25px, 1.6vw, 30px);
  }
  .searchbar {
    --search-icon-width: clamp(18px, 1.1vw, 20px);
    --search-icon-margin-right: clamp(12px, 0.8vw, 15px);
    width: clamp(280px, 16.9vw, 320px);
    height: clamp(47px, 2.6vw, 48px);
  }
  .searchbarInput {
    font-size: clamp(14px, 0.8vw, 15px);
  }
  .table,
  .tableHeader,
  .tableData {
    font-size: clamp(15px, 0.9vw, 16px);
  }
  .tableHeader,
  .tableData {
    padding: clamp(10px, 0.7vw, 12px);
  }
  .tableDataIcon {
    width: clamp(15px, 1vw, 18px);
  }
  .colorBox {
    width: clamp(4px, 0.4vw, 6px);
  }
  .button {
    margin-top: clamp(25px, 1.6vw, 30px);
    height: clamp(47px, 2.6vw, 48px);
    padding: 0px clamp(20px, 1.2vw, 22px);
    font-size: clamp(14px, 0.8vw, 15px);
  }
  .dropdown {
    font-size: 15px;
  }
}
