.label {
  font-size: 16px;
}
.table {
  border-collapse: collapse;
  margin-top: 2px;
  border-spacing: 0;
  table-layout: auto;
  width: 150px;
}
.tableHeader {
  white-space: nowrap;
  width: auto;
}
.tableHeader,
.tableData {
  border: 1px solid white;
  text-align: start;
  font-size: 16px;
}
.tableHeader,
.tableData {
  height: 48px;
  padding: 0px 12px;
}
.inputErr {
  color: red;
}
.tableData {
  font-weight: var(--font-light);
}
.tableDataErr {
  border-bottom: 1px solid red !important;
}
.tableRowAdd {
  .tableData {
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      padding: 0px;
    }
  }
}
.inputConstantWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  .input {
    padding: 0px;
    padding-right: 12px;
  }
}
.inputConstant {
  padding: 0px 2px 0px 12px;
}
.input {
  background: transparent;
  font-size: 16px;
  color: var(--primary-color);
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-weight: var(--font-light);
  padding: 0 12px;
}
.tableDataFuncWrapper {
  display: flex;
  justify-content: center;
  gap: 6px;
}
.icon {
  width: 17px;
  height: auto;
  cursor: pointer;
  &:hover {
    color: var(--secondary-color);
  }
}
.tableSizesList {
  display: flex;
  list-style-type: none;
  gap: 5px;
}
.tableSize {
  cursor: pointer;
  &:hover {
    color: var(--secondary-color);
  }
}
.tableSizeActive {
  color: var(--secondary-color);
}
.tableDataInputWrapper {
  padding: 0px;
}
@media screen and (max-width: 1900px) {
  .label {
    font-size: clamp(15px, 0.9vw, 16px);
  }
  .tableHeader,
  .tableData {
    font-size: clamp(15px, 0.9vw, 16px);
  }
  .tableHeader,
  .tableData {
    height: clamp(45px, 2.6vw, 48px);
    padding: 0px clamp(10px, 0.7vw, 12px);
  }
  .inputConstantWrapper {
    .input {
      padding-right: clamp(10px, 0.7vw, 12px);
    }
  }
  .inputConstant {
    padding: 0px 2px 0px clamp(10px, 0.7vw, 12px);
  }
  .input {
    font-size: clamp(15px, 0.9vw, 16px);
    padding: 0 clamp(10px, 0.7vw, 12px);
  }
  .icon {
    width: clamp(16px, 0.9vw, 17px);
  }
  .tableDataInputWrapper {
    padding: 0px;
  }
}
