.main {
  display: flex;
  position: relative;
  --sidepanel-width: 495px;
}
.content {
  padding: var(--padding-section);
  flex: 1 1;
  margin-left: var(--padding-section);
  transition: margin 0.3s;
}
.contentActive {
  margin-left: var(--sidepanel-width);
}
.year {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: -1;
  transform: translateY(-40%);
  font-size: 220px;
  font-weight: var(--font-light);
  color: var(--secondary-color-dimmed);
}
.collections {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
@media screen and (max-width: 1900px) {
  .main {
    --sidepanel-width: clamp(395px, 26.1vw, 495px);
  }
  .year {
    font-size: clamp(180px, 11.6vw, 220px);
  }
  .collections {
    gap: clamp(50px, 3.2vw, 60px);
  }
}
