.main {
  display: flex;
  position: relative;
  --sidepanel-width: 495px;
}
.content {
  padding: var(--padding-section);
  flex: 1 1;
  margin-left: 0px;
  transition: margin 0.3s;
}
.contentActive {
  margin-left: var(--sidepanel-width);
}
.year {
  position: absolute;
  right: 0px;
  top: 0px;
  transform: translateY(-40%);
  font-size: 220px;
  font-weight: var(--font-light);
  color: var(--secondary-color-dimmed);
}
.collections {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.sidebarVisibilityButton {
  position: fixed;
  top: var(--padding-section);
  right: var(--padding-section);
  z-index: 2;
  cursor: pointer;
  height: 48px;
  padding: 0px 22px;
  background: transparent;
  font-size: 15px;
  background: var(--secondary-color);
  color: var(--background-base-color);
  font-weight: 500;
  border: none;
}
@media screen and (max-width: 1900px) {
  .main {
    --sidepanel-width: clamp(395px, 26.1vw, 495px);
  }
  .year {
    font-size: clamp(180px, 11.6vw, 220px);
  }
  .collections {
    gap: clamp(50px, 3.2vw, 60px);
  }
  .sidebarVisibilityButton {
    height: clamp(47px, 2.5vw, 48px);
    padding: 0px clamp(20px, 1.2vw, 22px);
    font-size: clamp(14px, 0.8vw, 15px);
  }
}
