.main {
  display: flex;
  gap: 30px;
  list-style-type: none;
}
.category {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.title {
  font-size: 18px;
  font-weight: var(--font-light);
  line-height: 0.8;
}
.amount {
  font-size: 33px;
  font-weight: var(--font-light);
}
@media screen and (max-width: 1900px) {
  .main {
    gap: clamp(25px, 1.6vw, 30px);
  }
  .title {
    font-size: clamp(17px, 1vw, 18px);
  }
  .amount {
    font-size: clamp(26px, 1.8vw, 33px);
  }
}
@media screen and (max-width: 1024px) {
  .main {
    gap: clamp(20px, 2.5vw, 25px);
  }
  .category {
    justify-content: space-between;
  }
  .title {
    font-size: clamp(16px, 1.7vw, 17px);
    line-height: 1;
  }
  .amount {
    font-size: clamp(25px, 2.6vw, 26px);
  }
}
@media screen and (max-width: 400px) {
  .main {
    gap: 15px;
    flex-direction: column;
  }
  .category {
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-end;
    gap: 10px;
  }
  .amount {
    line-height: 0.8;
  }
}
