.main {
  padding: var(--padding-section) 0px calc(var(--padding-section) * 0.5) 0px;
  &:first-child {
    padding-top: 0px;
  }
  &:last-child {
    padding-bottom: 0px;
  }
}
.header {
  line-height: 1;
  margin-bottom: var(--padding-section);
}
.title {
  color: var(--secondary-color);
  line-height: 0.8;
  font-size: 42px;
  font-weight: var(--font-bold);
}
.subtitle {
  margin-top: 2px;
  font-size: 18px;
  font-weight: var(--font-light);
}
