.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: rgb(6, 6, 6);
  padding: var(--padding-section);
  align-items: flex-start;
  transform: translateX(-495px);
  transition: transform 0.3s;
  position: fixed;
  width: 495px;
}
.mainActive {
  transform: translateX(0px);
}
.titleContainer {
  display: flex;
  flex-direction: column;
  line-height: 0.8;
}
.title {
  font-size: 110px;
  letter-spacing: -5px;
  font-weight: var(--font-bold);
  margin-left: -6px;
  color: var(--secondary-color);
}
.subtitle {
  font-size: 30px;
  margin-top: 5px;
  font-weight: var(--font-light);
}
.viewLiveContainer {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: var(--padding-section) 0px;
  text-decoration: none;
  color: var(--primary-color);
}
.viewLiveText {
  font-size: 21px;
  font-weight: var(--font-light);
  line-height: 0.7;
}
.viewLiveIcon {
  width: 22px;
  margin-left: 15px;
  height: auto;
}
.section {
  flex: 1 1;
}
.sectionTitle {
  line-height: 0.8;
  font-size: 42px;
  font-weight: var(--font-bold);
  color: var(--secondary-color);
}
.sectionSubtitle {
  font-size: 18px;
  margin-top: 2px;
  font-weight: var(--font-light);
}
.sectionList {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: calc(var(--padding-section) / 2) 0px;
  gap: 2px;
}
.sectionListItem {
  font-size: 35px;
  line-height: 1;
  font-weight: var(--font-light);
  cursor: pointer;
}
.footer {
  width: 100%;
  padding-top: 30px;
  display: flex;
  border-top: 1px solid var(--secondary-color);
  justify-content: space-between;
}
.user {
  display: flex;
  align-items: center;
  gap: 8px;
}
.userIcon {
  width: 22px;
  height: auto;
  color: var(--secondary-color);
}
.userName {
  color: var(--secondary-color);
  font-size: 16px;
  font-weight: var(--font-light);
}
.logoutIcon {
  width: 17px;
  height: auto;
  color: var(--secondary-color);
  cursor: pointer;
}
