.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: rgb(6, 6, 6);
  padding: var(--padding-section);
  align-items: flex-start;
  transform: translateX(calc(-495px + var(--padding-section) - 1px));
  transition: transform 0.3s;
  position: fixed;
  width: 495px;
  z-index: 2;
}
.mainActive {
  transform: translateX(0px);
}
.titleContainer {
  display: flex;
  flex-direction: column;
  line-height: 0.8;
}
.title {
  font-size: 110px;
  letter-spacing: -5px;
  font-weight: var(--font-bold);
  margin-left: -6px;
  color: var(--secondary-color);
}
.subtitle {
  font-size: 30px;
  margin-top: 5px;
  font-weight: var(--font-light);
}
.viewLiveContainer {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 45px 0px;
  text-decoration: none;
  color: var(--primary-color);
  &:hover {
    color: var(--secondary-color);
  }
}
.viewLiveText {
  font-size: 21px;
  font-weight: var(--font-light);
  line-height: 0.7;
}
.viewLiveIcon {
  width: 22px;
  margin-left: 15px;
  height: auto;
}
.arrowShortIcon {
  width: 36px;
  height: auto;
  position: absolute;
  top: var(--padding-section);
  right: 0px;
  cursor: pointer;
  transform: translateX(45%) rotate(-90deg);
  transition: transform 0.3s;
  &:hover {
    color: var(--secondary-color);
  }
}
.arrowShortIconActive {
  transform: translateX(45%) rotate(90deg);
}
.section {
  flex: 1 1;
}
.sectionTitle {
  line-height: 0.8;
  font-size: 42px;
  font-weight: var(--font-bold);
  color: var(--secondary-color);
}
.sectionSubtitle {
  font-size: 18px;
  margin-top: 2px;
  font-weight: var(--font-light);
}
.sectionList {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: calc(var(--padding-section) / 2) 0px;
  gap: 2px;
}
.sectionListItem {
  font-size: 35px;
  line-height: 1;
  font-weight: var(--font-light);
  cursor: pointer;
  &:hover {
    color: var(--secondary-color);
  }
}
.footer {
  width: 100%;
  padding-top: 30px;
  display: flex;
  border-top: 1px solid var(--secondary-color);
  justify-content: space-between;
}
.user {
  display: flex;
  align-items: center;
  gap: 8px;
}
.userIcon {
  width: 22px;
  height: auto;
  color: var(--secondary-color);
}
.userName {
  color: var(--secondary-color);
  font-size: 16px;
  font-weight: var(--font-light);
}
.logoutIcon {
  width: 17px;
  height: auto;
  color: var(--secondary-color);
  cursor: pointer;
}
@media screen and (max-width: 1900px) {
  .main {
    width: clamp(395px, 26.1vw, 495px);
    transform: translateX(calc(clamp(-495px, -26.2vw, -395px) + var(--padding-section)));
  }
  .arrowShortIcon {
    width: clamp(30px, 1.9vw, 36px);
  }
  .mainActive {
    transform: translateX(0px);
  }
  .title {
    font-size: clamp(87px, 5.8vw, 110px);
    letter-spacing: max(-4px, -0.3vw);
    line-height: 0.72;
  }
  .subtitle {
    font-size: clamp(26px, 1.6vw, 30px);
    margin-top: clamp(7px, 0.5vw, 10px);
  }
  .viewLiveContainer {
    margin: clamp(35px, 2.4vw, 45px) 0px;
  }
  .viewLiveText {
    font-size: clamp(18px, 1.2vw, 21px);
  }
  .viewLiveIcon {
    width: clamp(18px, 1.2vw, 22px);
    margin-left: clamp(10px, 0.8vw, 15px);
  }
  .sectionTitle {
    font-size: clamp(35px, 2.25vw, 42px);
  }
  .sectionSubtitle {
    font-size: clamp(17px, 1vw, 18px);
  }
  .sectionListItem {
    font-size: clamp(29px, 1.9vw, 35px);
  }
  .userIcon {
    width: clamp(20px, 1.2vw, 22px);
  }
  .userName {
    font-size: clamp(15px, 0.9vw, 16px);
  }
  .logoutIcon {
    width: clamp(15px, 0.9vw, 17px);
  }
}
@media screen and (max-width: 1024px) {
  .main {
    width: clamp(340px, 38.6vw, 395px);
    transform: translateX(calc(clamp(-395px, -38.6vw, -340px) + var(--padding-section)));
  }
  .arrowShortIcon {
    width: clamp(28px, 3vw, 30px);
  }
  .mainActive {
    transform: translateX(0px);
  }
  .title {
    font-size: clamp(76px, 8.5vw, 87px);
  }
  .viewLiveContainer {
    margin: clamp(30px, 3.5vw, 35px) 0px;
  }
  .viewLiveText {
    font-size: clamp(17px, 1.8vw, 18px);
  }
  .viewLiveIcon {
    width: clamp(16px, 1.8vw, 18px);
  }
  .subtitle {
    font-size: clamp(24px, 2.6vw, 26px);
  }
  .sectionTitle {
    font-size: clamp(34px, 3.5vw, 35px);
  }
  .sectionSubtitle {
    font-size: clamp(16px, 1.7vw, 17px);
  }
  .userIcon {
    width: clamp(19px, 2vw, 20px);
  }
}
@media screen and (max-width: 400px) {
  .main {
    width: clamp(290px, 85.1vw, 340px);
    transform: translateX(calc(clamp(-340px, -85.1vw, -290px) + var(--padding-section)));
  }
  .arrowShortIcon {
    width: clamp(26px, 7vw, 28px);
  }
  .mainActive {
    transform: translateX(0px);
  }
  .title {
    font-size: clamp(64px, 19vw, 76px);
  }
  .viewLiveText {
    font-size: clamp(16px, 4.3vw, 17px);
  }
  .subtitle {
    font-size: clamp(22px, 6vw, 24px);
  }
  .sectionTitle {
    font-size: clamp(33px, 8.5vw, 34px);
  }
  .sectionListItem {
    font-size: clamp(28px, 7.3vw, 29px);
  }
}
